<div class="menu-box">
    <aside id="menu" class="menu-lateral">
        <a href='/home' class="<%= link.homePage %> "><i class="fa fa-home" aria-hidden="true"></i>Home</a>
        <a href='/produtos' class="<%= link.produtoPage %>"><i class="fas fa-gifts" aria-hidden="true"></i>Produtos</a>
        <a href='/compras' class="<%=link.compraPage%>"><i class="fas fa-cart-plus" aria-hidden="true"></i>Compras</a>
        <a href='/relatorios' class="<%=link.relatorioPage%>"><i class="fa fa-bar-chart" aria-hidden="true"></i>Relatórios</a>
        <a href='/ajustes' class="<%=link.ajustePage%>"><i class="fas fa-cog" aria-hidden="true"></i>Ajustes</a>
        <button id="toogle"><i class='fas fa-angle-left' style='font-size:24px'></i></button></aside>
    <main class="main">