<%- include('../partial/head.ejs') %>
    <%- include('../partial/nav.ejs') %>
        <%- include('../partial/aside.ejs') %>
            <div class="container">
                <h1><i class="fas fa-cart-arrow-down" aria-hidden="true"></i> Lista de Compras -
                    <%= moment(listas[0].data).format('D/M/Y')  %>
                </h1>
                <div class="btn-add-lista"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-lista" id="btn-lista"><i class='fas fa-cart-plus' style='font-size:24px'></i></button></div>
                <ul class="list-group list-group-flush lista-itens ">
                    <% listas   .map(p =>{%>
                        <li class="list-group-item lista-compra-row">
                            <div>
                                <div>
                                    <span class="badge badge-primary"><%=p.nome%></span>

                                </div>
                                <div>
                                    <h5>
                                        <%=p.descricao%>
                                    </h5>
                                </div>
                            </div>
                            <div class="div-forms">
                                <form class="form-lista-compra" action="/compras" method="POST">
                                    <div>
                                        <div>
                                            <span class="badge badge-primary">Quantidade</span>
                                        </div>
                                        <input class="form-control input-id" type="hidden" name="id" id="" value="<%= p.id %> ">
                                        <input class="form-control input-id" type="hidden" name="lista_id" id="" value="<%=p.lista_id%> ">
                                        <input class="form-control input-quantidade" type="number" name="quantidade" value="<%=p.quantidade%>" step="0.010" <%=p.status==1 ? 'disabled': ''%>>
                                    </div>
                                    <div>
                                        <div>
                                            <span class="badge badge-primary">R$ Unitario</span>
                                        </div>
                                        <input class="form-control input-valor-un" type="number" name="valor_un" value="<%=p.valor_un.toFixed(2)%>" id="input-valor-un" step="0.010" <%=p.status==1 ? 'disabled': ''%> >
                                    </div>
                                    <div>
                                        <div>
                                            <span class="badge badge-primary">R$ Total</span>
                                        </div>
                                        <input class="form-control input-valor" type="number" name="valor" value="<%=p.valor.toFixed(2)%>" id="input-valor" step="0.010" disabled>
                                    </div>
                                    <input class="form-control input-status" type="hidden" name="status" id="" value="<%= p.status %>">
                                    <div><button type="submit" class="btn btn-success add-list"><i class='fas fa-cart-arrow-down icon-bnt'></i></button></div>
                                </form>
                            </div>
                        </li>
                        <% }) %>
                </ul>
                <!-- MODAL -->
                <div class="modal fade" id="modal-lista" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel"><i class='fas fa-cart-plus' style='font-size:24px'></i> Adicione Produto</h5>
                                <button type="button" class="close" id="fechar" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                            </div>
                            <div class="modal-body">

                                <ul class="list-group list-group-flush">
                                    <% produtos.map(p =>{%>
                                        <li class="list-group-item lista-compra-row">
                                            <div>
                                                <div>
                                                    <span class="badge badge-primary"><%=p.nome%></span>

                                                </div>
                                                <div>
                                                    <h5>
                                                        <%=p.descricao%>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="div-forms">
                                                <form class="form-lista-compra" action="">
                                                    <div>
                                                        <div>
                                                            <span class="badge badge-primary">Quantidade</span>
                                                        </div>
                                                        <input class="form-control qtd-modal" type="number" name="" id="">
                                                        <input class="form-control id-produto-modal" type="hidden" name="" id="" value="<%= p.id %> ">
                                                        <input class="form-control id-lista-modal" type="hidden" name="" id="" value="<%= p.lista_id %> ">
                                                    </div>
                                                    <div><button type="button" class="btn btn-success add-list-modal"><i class='fas fa-cart-arrow-down'></i></button>
                                                        <i class='fas fa-check btn-ok' style="font-size: 24px;"></i>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <script>
                    // fas fa-times-circle
                    const total = document.getElementsByClassName('input-valor')
                    const valorUn = document.getElementsByClassName('input-valor-un')
                    const quantidade = document.getElementsByClassName('input-quantidade')
                    const status = document.getElementsByClassName('input-status')
                    const btnAdd = document.getElementsByClassName('add-list')
                    const li = document.getElementsByClassName('lista-compra-row')
                    const icon = document.getElementsByClassName('icon-bnt')
                    for (let index = 0; index < valorUn.length; index++) {
                        valorUn[index].addEventListener('change', e => {
                            total[index].value = Number(quantidade[index].value * valorUn[index].value).toFixed(2)
                            console.log(status[index].value)
                        })
                        quantidade[index].addEventListener('change', e => {
                            total[index].value = quantidade[index].value * valorUn[index].value
                            console.log(status[index].value)
                        })

                        if (status[index].value == 1) {
                            li[index].className = 'list-group-item lista-compra-row iten-sale'
                            btnAdd[index].className = 'btn btn-danger add-list'
                            icon[index].className = 'fas fa-times-circle icon-bnt'

                        } else {
                            li[index].className = 'list-group-item lista-compra-row'
                            btnAdd[index].className = 'btn btn-success add-list'
                            icon[index].className = 'fas fa-cart-arrow-down icon-bnt'
                            btnAdd[index].addEventListener('click', e => {
                                if (quantidade[index].value == 0) {
                                    e.preventDefault()
                                    quantidade[index].style.border = '2px solid red'
                                    valorUn[index].style.border = '1px solid #207ce5'
                                    alert('Valor não pode ser zero!')
                                } else if (valorUn[index].value == 0) {
                                    e.preventDefault()
                                    quantidade[index].style.border = '1px solid #207ce5'
                                    valorUn[index].style.border = '2px solid red'
                                    alert('Valor não pode ser zero!')
                                }
                            })

                        }
                        // ###### Logica Modal #######


                    }
                    const btnAddProduto = document.getElementsByClassName('add-list-modal')
                    const idProduto = document.getElementsByClassName('id-produto-modal')
                    const idLista = document.getElementsByClassName('id-lista-modal')
                    const qtdProduto = document.getElementsByClassName('qtd-modal')
                    const ok = document.getElementsByClassName('btn-ok')
                    const fechar = document.getElementById('fechar')
                    for (let index = 0; index < btnAddProduto.length; index++) {
                        ok[index].style.display = 'none'
                        btnAddProduto[index].addEventListener('click', async e => {
                            const itenListaProduto = {
                                lista_id: '<%=listas[0].lista_id%>',
                                produto_id: idProduto[index].value,
                                quantidade: qtdProduto[index].value,
                                valor_un: 0,
                                valor: 0,
                                status: 0
                            }

                            if (qtdProduto[index].value != 0) {
                                const respostaItens = await fetch(`<%=link.url%>/listas-produtos`, {
                                    method: "POST",
                                    body: JSON.stringify(itenListaProduto),
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json',
                                        'Authorization': 'Bearer ' + '<%=link.token%>'
                                    }
                                })
                                ok[index].style.display = 'inline'
                                ok[index].style.color = '#28a745'
                                btnAddProduto[index].style.display = 'none'
                                qtdProduto[index].disabled = 'true'
                                qtdProduto[index].style.border = '1px solid #207ce5'

                                // const idItens = await respostaItens.json()
                                alert(qtdProduto[index].value != '' ? true : false)
                            } else {
                                qtdProduto[index].style.border = '2px solid red'

                            }



                        })

                    }
                    fechar.addEventListener('click', e => {
                        window.location.reload()
                    })
                </script>
                <%- include('../partial/footer.ejs') %>